<div class="container d-flex flex-column justify-content-center align-items-center text-center" style="height: 90vh;">
  <% @team_members.each do |member| %>
    <div class="card" style="width: 18rem;">
      <%= image_tag member.avatar, class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title"><%= member.name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <% end %>
</div>
